{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

  <div id="gap-calculator">
    <div class="input-container">
      <div>
        <span>I am a...: </span>
        <button class="gender-choice" data="woman">Woman</button>
        <button class="gender-choice" data="man">Man</button>
      </div>

      <div>
        <input type="text" value="Enter an age" />
      </div>
      <div>
        <input type="salary" value="Enter a salary" />
      </div>

      <div>
        <label>Select a sector</label>
        <ul class="sector-list">
          <li>Managers, directors and senior officials</li>
          <li>Corporate managers and director</li>
        </ul>
      </div>
    </div>

    <div class="output-container">
      <p> Your genderswapped salary is: <span class="output-salary"></span></p>
    </div>

  </div>

{% endblock %}
