{% import "macros.html" as macros %} {% extends "layout.html" %} {% block article_body %}

<div class="gap-calculator">
  <div class="input-container">
    <div class="input-box-gender selection-made">
      <hr>
      <label>1. Are you a woman or a man?</label>
      <div>
        <div class="or-box">OR</div>
        <div class="input-gender icon-option selected" data="woman">
          <div class="icon-content">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" alt="woman icon">
              <title>woman-headshot</title>
              <path d="M47.461,36.431a4,4,0,0,0-2.525-2.972L33,29l4,8H29l-4,8-4-8H13l4-8L5.064,33.459a4,4,0,0,0-2.525,2.972A73.557,73.557,0,0,0,1,49H49A73.557,73.557,0,0,0,47.461,36.431Z"/>
              <path d="M30.715,26.57A24.828,24.828,0,0,0,39,24s-4.44,0-4.44-12c0-7.2-3.98-11-9.56-11s-9.56,3.8-9.56,11C15.44,24,11,24,11,24a24.828,24.828,0,0,0,8.285,2.57L25,38Z"/>
            </svg>
            <span>Woman</span>
          </div>
        </div>
        <div class="input-gender icon-option" data="man">
          <div class="icon-content">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50px" alt="man-icon">
              <title>man-headshot</title>
              <path
                d="M17.78,19L19,24v2l6,4.5L31,26V24l1.22-5a1.957,1.957,0,0,0,1.409-.437c1.1-1,1.8-3.5,1.07-4.844C34.187,12.777,34,13,34,13V8.375c0-2.833-1.25-5.125-3.709-5.125C29.458,1.5,27.459,1,25,1c-5.414,0-9,3-9,7v5s-0.187-.223-0.7.719c-0.733,1.344-.028,3.844,1.07,4.844A1.957,1.957,0,0,0,17.78,19Z"/>
              <path d="M44.763,32.254L32,28,27,43.5v-7L25.4,34,27,32.5l-2-2-2,2L24.6,34,23,36.5v7L18,28,5.237,32.254a4.193,4.193,0,0,0-2.674,3.1A71.342,71.342,0,0,0,1,49H49a71.342,71.342,0,0,0-1.563-13.65A4.193,4.193,0,0,0,44.763,32.254Z"/>
            </svg>
            <span>Man</span>
          </div>
        </div>
      </div>
    </div>


    <div class="input-box-age">
      <hr>
      <label>2. What age are you?</label>
      <div>
        <button class="input-age o-buttons" data="22">22-29</button>
        <button class="input-age o-buttons" data="30">30-39</button>
        <button class="input-age o-buttons" data="40">40-49</button>
        <button class="input-age o-buttons" data="50">50-59</button>
        <!-- <button class="input-age o-buttons" data="60">60+</button> -->
      </div>
      <div class="input-feedback">
        <p>
          A <span class="gender-choice">woman</span>
          in their <span class="age-choice"></span>s
           working full-time will earn
           <span class="salary-difference-gender-age">TBC% less</span> than an
          average <span class="gender-choice-inverse">man</span>  in the same age group
        </p>
      </div>
    </div>


    <div class="input-box-sector">
      <hr>
      <label>3. Choose what type of job you have:</label>

      <div class="sector-desktop-view">
        <div class="input-sector-list"></div>
        <button class="see-more o-buttons o-buttons--big"><span class="toggle-more-sectors-text"></span></button>
      </div>

      <div class="sector-mobile-view">
        <p class="sector-back-button"><a href="#selected-job">< Pay gap calculator</a></p>
        <div class="input-sector-list"></div>
        <button class="see-all o-buttons o-buttons--big">
          <span class="see-all-sectors-text"></span>
        </button>
      </div>

      <div id="selected-job"></div>

      <div class="data-error-feedback">
        <p>
          Sorry: there's not enough data on people in their
          <span class="age-choice"></span>s
          working in <span class="sector-choice">Associate Health Professional</span> roles to calculate the gender pay gap.
          Try selecting one of the bolded occupations to get a general view of the pay gap.
        </p>
      </div>

      <div class="input-feedback sector-selected">
        <p>
          <span class="sector-choice"></span>
        </p>
      </div>
      <div class="input-feedback">
        <p>
          A <span class="gender-choice">woman</span> in their <span class="age-choice"></span>s
          working full-time in a <span class="sector-choice">Associate Health Professional</span> role
          will earn <span class="salary-difference-gender-age-sector"></span>
          than a <span class="gender-choice-inverse">man</span> in the same age group and job type.
        </p>
      </div>
    </div>

    <div class="input-box-salary">
      <hr>
      <label>4. What's your salary?</label>
      <div class="input-salary-time-period">
        <p>Each</p>
        <div class="o-buttons__group">
          <button class="o-buttons input-salary-time selected" data="year">year</button>
          <button class="o-buttons input-salary-time" data="month">month</button>
        </div>
        <p>I earn:</p>
      </div>
      <div class="input-salary-container">
        <input type="text" placeholder="e.g. 20,000 or 45,000" class="input-salary o-forms__text"></input>
        <span class="before-tax">before tax</span>
        <span class="currency">£</span>
      </div>
    </div>

    <hr>
    <div class="input-box-compute">
      <button class="input-compute o-buttons o-buttons--primary o-buttons--big">Reveal the pay gap</button>
    </div>
  </div>


  <div class="output-container">
    <div class="down-triangle"></div>
    <div class="output-box-yearly-salary">
      <p>If you were a <span class="gender-choice-inverse"></span> you would earn <span class="output-yearly-salary"></span> per year.</p>
    </div>
    <div class="output-box-daily-salary">
      <p>giving you <span class="output-daily-salary"></span> spending money every day (before tax)</p>
    </div>
  </div>
  <script src="//origami-build.ft.com/v2/bundles/js?modules=o-forms%404.0.4%3A%2Fdemos%2Fsrc%2Fdemo.js%2Co-fonts%40%5E3%2Co-buttons%40%5E5"></script>
</div>


{% endblock %}
