{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

  <div class="gap-calculator">
    <div class="input-container">
      <div class="input-box-gender">
        <button class="input-gender o-buttons o-buttons--primary" data="woman">Woman</button>
        <button class="input-gender o-buttons o-buttons--primary" data="man">Man</button>
      </div>

      <div class="input-box-age">
        <label>Choose an age</label>
        <div>
          <button class="input-age o-buttons" data="18">18-21</button>
          <button class="input-age o-buttons" data="22">22-29</button>
          <button class="input-age o-buttons" data="30">30-39</button>
          <button class="input-age o-buttons" data="40">40-49</button>
          <button class="input-age o-buttons" data="50">50-59</button>
          <button class="input-age o-buttons" data="60">60+</button>
        </div>
      </div>

      <div class="input-box-salary">
        <label>Enter a salary</label>
        <input type="salary" placeholder="e.g. 20,000 or 45,000" class="input-salary" />
      </div>

      <div class="input-box-sector">
        <label>Select a job type:</label>
        <ul class="input-sector-list">
        </ul>
      </div>

      <div class="input-box-compute">
        <button class="input-compute o-buttons o-buttons--primary o-buttons--big">Calculate</button>
      </div>
    </div>

    <div class="output-container">
      <div class="output-box-yearly-salary">
        <p>Your genderswapped salary is: <span class="output-yearly-salary"></span> per year</p>
      </div>
      <div class="output-box-weekly-salary">
        <p>That would be <span class="output-weekly-salary"></span> spending money a week - (before tax)</p>
      </div>
      <div class="output-box-daily-salary">
        <p>That would be <span class="output-daily-salary"></span> spending money every day - (before tax)</p>
      </div>
    </div>

  </div>

{% endblock %}
