/* GENDER INPUT */
.input-container .input-box-gender {

  .button-and-or-container {
    max-width: 428px;

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      .o-forms__radio+.o-forms__label {
        margin-right: 20px;
        padding-left: 20px;
      }
    }
  }
}


.input-gender .icon-content {
  img{
    max-height: 150px;
  }
}

.input-container .icon-option {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: 0;
}

.input-box-gender div {
  position: relative;
}

.gender-choice-frame {
  position: relative;
  max-width: 428px;
}

.input-container .input-box-gender .or-box {
  top: -120px;
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 22px;
  width: 1.3em;
  padding: 0.7px 1.6%;
  position: relative;
}

.input-container .icon-option div.icon-content {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
  margin: 0.1em 0em;
}
