/* GENDER INPUT */
.input-container .input-box-gender {
  > hr {
    background-color: oColorsGetPaletteColor('black-10');
    height: 8px;
    border: 0;
  }

  .button-and-or-container {
    max-width: 428px;

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }
}

.input-container .icon-option {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #F2E4DA;
  margin-bottom: 0;
}

.input-box-gender div {
  position: relative;
}

.gender-choice-frame {
  position: relative;
  max-width: 428px;
}

.input-container .input-box-gender .or-box {
  top: -76px;
  margin: 0 auto;
  background-color: white;
  font-size: 1em;
  line-height: 22px;
  border-radius: 3px;
  width: 1.3em;
  padding: 0.7px 1.6%;
  position: relative;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
}

.input-container .icon-option.selected {
  background-color: #14bdcc;
}

.input-container .icon-option.selected span {
  color: white;
}

.input-container .icon-option.selected #Layer_1 path {
  fill: white;
}

.input-container .icon-option #Layer_1 path {
  fill: #CCC1B7;
}

.input-container .icon-option div.icon-content {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.input-container .icon-option span {
  text-transform: uppercase;
  color: #8F857E;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 0.4em;
}
