$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;
$exclamation-symbol-url: 'https://www.ft.com/__origami/service/image/v2/images/raw/fticon:warning?width=40&format=png&source=o-icons&tint=ffffff';
$exclamation-symbol-url-pink: 'https://www.ft.com/__origami/service/image/v2/images/raw/fticon:warning?width=40&format=png&source=o-icons&tint=FF1A66';

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.article {
  &-head {
    margin-top: 18px;
    margin-bottom: 0;
  }

  &-body {
    div[data-o-grid-colspan] {
      & > div {
        max-width: 700px;
      }
    }
  }
}
/* Hide whatsapp share button on desktop */
.article__share {
  @include oGridRespondTo(S) {
    .o-share__action--whatsapp {
      display: none;
    }
  }
}
/****** CUSTOM CALCULATOR STYLES ******/
.o-header {
  background-color: #fff1e5 !important;
}

header p {
  font-size: 1.3em;
  color: #333;
}
@media(max-width: 400px) {
  header p {
    font-size: 1em;
  }
}

hr {
  background-color: #E5D8CE;
  height: 1px;
  border: 0;
}

label {
  font-weight: 400;
  font-size: 1.4em;
  display: block;
  margin: 0.3em 0;
  color: #33302E;
}

.hidden {
  display: none;
}
/* ALL INPUT BOXES */
.input-container div[class^='input-box'] {
  width: 100%;
}

.see-more.o-buttons.o-buttons--big {
  background: #F2DFCE;
  border-style: none;
  height: 50px;
  font-size: 1em;
  min-width: 80px;
}
/* WIDE BUTTONS */
@media(max-width:400px) {
  .input-compute,
  .see-all,
  .see-more {
    width: 100%;
  }

  button.see-all.o-buttons.o-buttons--big {
    background: #F2DFCE;
    border-style: none;
    font-size: 1em;
  }
}


/* FEEDBACK BOXES */
.input-feedback {
  display: none;
}

.input-container .data-error-feedback,
.input-container .input-feedback {
  padding: 0.1em 0.5em 0.2em;
  min-width: 90%;
}

.input-container .input-feedback {
  border-top: 2px solid #14bdcc;
  background-color: #fff;
}

.input-container .data-error-feedback p,
.input-container .input-feedback p {
  font: normal 1.1em/1.3em $font-sans;
  color: #66605C;
  margin-top: 0.4em;
}

article .selection-made .input-feedback {
  display: block;
}

.input-feedback {
  display: none;
}

.input-feedback span:not(.gender-choice-inverse) {
  font-weight: 600;
  font-size: 1em;
  color: black;
}

.input-feedback.sector-selected {
  background-color: #14bdcc;
  border-top: 2px solid #14bdcc;
  text-align: center;
}

.input-feedback.sector-selected p span {
  color: #08474d;
}
/* DATA ERROR HANDLING */
.input-container .data-error-feedback {
  border-top: 5px solid #FF1A66;
  background-color: #FFDBD7;
  display: flex;
  flex-direction: row;

  div {
    flex: 1 1 auto;
    padding: 0 0.5em;
    margin: 0.4em 0 0;

    p {
      margin-top: 0;
    }

    img {
      margin-top: 0.1em;
    }
  }
}

article .input-container .data-error-feedback {
  display: none;
}

article.insufficient-data .data-error-feedback {
  display: flex;
}

article.insufficient-data div.selection-made.input-box-sector .input-feedback {
  display: none;
}

article.insufficient-data .input-box-salary {
  display: none;
}

article.insufficient-data .input-compute {
  display: none;
}


/* OUTPUT BOX */
article.computed .output-container {
  display: block;
}

.output-container {
  display: none;
}

article.computed .output-container span[class^='output'] {
  font-family: $font-sans;
  display: block;
  font-size: 45px;
  font-weight: 500;
}

article.computed .output-container {
  background-color: #9fe0d9;
  padding: 1.5em 1em;
}

article.computed .output-container p {
  text-align: left;
}

article.computed .down-triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff1e5;
  position: relative;
  top: -1.5em;
  left: 10%;
}
@media(max-width: 400px) {
  article.computed .down-triangle {
    left: 46%;
  }

  article.computed .output-container p {
    text-align: center;
  }
}

article.computed .output-container.median {
  .output-box-median {
    display: block;
  }
  .output-box-percentile{
    display:none;
  }
}
article.computed .output-container.percentile {
  .output-box-median {
    display: none;
  }
  .output-box-percentile{
    display: block;
  }
}
