$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.article {
  &-head {
    margin-top: 18px;
    margin-bottom: 0;
  }

  &-body {
    div[data-o-grid-colspan] {
      & > div {
        max-width: 700px;
      }
    }
  }
}

/* Hide whatsapp share button on desktop */
.article__share {
  @include oGridRespondTo(S) {
    .o-share__action--whatsapp {
      display: none;
    }
  }
}
