/* OUTPUT BOX */
article.computed .output-container {
  display: block;
}

.output-container {
  display: none;
}

article.computed .output-container span[class^='output'] {
  font-family: $font-sans;
  display: block;
  font-size: 45px;
  font-weight: 500;
}

article.computed .output-container {
  background-color: #9fe0d9;
  padding: 1.5em 1em;
}

article.computed .output-container p {
  text-align: left;
}

article.computed .down-triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff1e5;
  position: relative;
  top: -1.5em;
  left: 10%;
}
@media(max-width: 400px) {
  article.computed .down-triangle {
    left: 46%;
  }

  article.computed .output-container p {
    text-align: center;
  }
}

article.computed .output-container .output-box-percentile p span {
  font-weight: 600;
}

/* If decile is used, hide explainer box about medians */
article.computed .output-container.decile {
  .output-box-median {
    display: none;
  }
  .output-box-percentile{
    display: block;
  }
}

/* If median is used, hide explainer box about deciles */
article.computed .output-container.median {
  .output-box-median {
    display: block;
  }
  .output-box-percentile{
    display:none;
  }
}

.output-container .output-share {
  text-align: center;
  padding: .5em 0 1em 0;
  button {
    background-color: #1da1f2;
    border: none;
    font-size: 20px;
    height: 36px;
    border-radius: 3px;
    color: #fff;
  }
}
