/* OUTPUT BOX */
article.computed .output-container {
  display: block;
}

.output-container {
  display: none;
}

article.computed .output-container span[class^='output']:not(.output-daily-net-difference, .output-yearly-net-difference) {
  font-family: $font-sans;
  display: block;
  font-size: 48px;
  font-weight: 500;
}

article.computed .output-container {
  background-color: oColorsGetPaletteColor('teal-90');
  padding: 1.5em 1.7em;

    >.output-box-percentile {
      margin: 20px auto;
      }

  .output-box-yearly-salary,
  .output-box-daily-salary,
  .output-box-yearly-difference {

    >hr {
      height: 1px; color: oColorsGetPaletteColor('teal-70');
      background-color: oColorsGetPaletteColor('teal-70');
      width: 150px;
      margin:1em 0;
     }

    @media(max-width: 400px) {
      hr {
        margin:0 auto;
      }

        >p {
      text-align: center;
    }

    }
  }

  >.output-box-median {
    margin-top: 20px;
  }

  >.output-box-median p{
    font-size: 20px;
    text-align: left;
  }
}

article.computed .output-container p {
  text-align: left;
  font-family: MetricWeb, sans-serif;
  font-size: 20px;
  line-height: 1.3em;
  color: oColorsGetPaletteColor('teal-30');
  > .output-yearly-salary, .output-daily-salary, .output-yearly-gross-difference, .output-daily-gross-difference {
    @include oTypographySans($scale:7, $line-height: 48px);
    margin: 0.1em 0;
  }
}

article.computed .output-share .whatsapp {
  display: none;
}
article.computed .output-share button {
  margin-bottom: .4em;
}

@media(max-width: 450px) {
  article.computed .output-share .whatsapp {
    display: inline-block;
  }
}

article.computed .output-container .output-box-percentile{
  p{
    text-align: left;
  } span {
    font-weight: 600;

  }
}

/* If decile is used, hide explainer box about medians */
article.computed .output-container.decile {
  .output-box-median {
    display: none;
  }
  .output-box-percentile{
    display: block;
    p {
    margin-bottom: 0;
    }
  }
}

/* If median is used, hide explainer box about deciles */
article.computed .output-container.median {
  .output-box-median {
    display: block;

  }
  .output-box-percentile{
    display:none;

  }
}

.output-container .output-share {
  padding: 1em 0 1em 0;
   >.o-buttons--big {
        font-size: 20px;
        height: 50px;
        color: #08474d !important;
        min-width: 150px;
        margin: 0.5em 0;
      > a {
        color: #08474d !important;
        border-bottom: none;
      }

        @media(max-width: 400px){
        width: 100% !important;
        color: #08474d !important;
        }

    }
}

.output-share .o-buttons:not([disabled]):hover{
  background-color: rgba(13, 120, 130, 0.3);
}



.output-container .output-share button::before{
   position:absolute;
   top: 10px;
   left: 5px;
   background: url($exclamation-symbol-url) no-repeat center center;
   width: 32px;
   height: 32px;
}
