
/* SALARY INPUT */
div.input-salary-time-period div{
  display: inline-block;
  margin: 0 .5em;
}
div.input-salary-time-period p{
  display: inline-block;
  margin: 0;
}
.input-salary-container{
  position: relative;
  max-width: 380px;
}
.input-salary-container input{
  autofocus: false;
  padding-left: 17px;
}
.input-salary-container span{
  position: absolute;
  font-style: italic;
  color: gray;
}
.input-salary-container span.before-tax{
  top: 22px;
  right: 10px;
}
.input-salary-container span.currency{
  top: 22px;
  left: 8px;
}
.input-container button.input-salary-time.selected{
  background-color: #14bdcc;
  border-color: #14bdcc;
  color:#08474d;
}

article {
  button.input-compute {
    height: 50px;
    span::after {
      content: 'Reveal the pay gap';
    }
  }
}

/* IF USER INPUTS ARE INCOMPLETE, GIVE VALIDATION ERRORS  */

article.no-salary {
  button.input-compute,
  button.input-compute:hover,
  button.input-compute:active {
    background-color: #FF1A66;
    border-color: #FF1A66;
    min-width: 200px;
    span::after {
      content:'\00a0 \00a0 \00a0 \00a0 \00a0 Please enter a salary';
      background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon:warning?width=40&format=png&source=o-icons&tint=ffffff');
      display: inline-block;
      height: 24px;
      line-height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% left;
      background-color: transparent;
      vertical-align: middle;
    }
  }
}
