/* IF USER INPUTS ARE INCOMPLETE, GIVE VALIDATION ERRORS  */

article.no-salary button.input-compute,
article.no-salary button.input-compute:hover,
article.no-salary button.input-compute:active {
  background-color: #FF1A66;
  color: white;
}
article.no-salary button.input-compute span.compute-text {
  content: 'Please enter a salary';
}
article.no-salary button.input-compute span::before {
  content: url(components/images/gp_error_icon.svg);
}
