html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background-color: #fff1e5;
  font-family: MetricWeb, sans-serif;
  margin:0;
  padding:0;
}

main {
  display:block
}

.core .o--if-js,
.enhanced .o--if-no-js,
.is-next .hide-next,
.is-falcon .hide-falcon,
.is-loggedin .hide-loggedin,
.is-anonymous .hide-anonymous {
  display: none !important;
}

.show-loggedin,
.show-anonymous,
.show-next,
.show-falcon,
.hide-falcon,
.hide-next,
.hide-loggedin,
.hide-anonymous {
  display: none;
}

.is-loggedin .show-loggedin,
.is-anonymous .show-anonymous,
.is-next .show-next,
.is-falcon .show-falcon,
.is-falcon .hide-next,
.is-next .hide-falcon {
  display: inherit;
}

/* CUSTOM CALCULATOR STYLES */
label {
  font-weight: 500;
  display: block;
  margin: .2em 0;
}
.hidden {
  display: none;
}

/* ALL INPUT BOXES */
.input-container div[class^='input-box']{
  width: 100%;
}

/* WIDE BUTTONS */
@media(max-width:400px){
  .input-compute, .see-more, .see-all {
    width: 100%;
  }
}

/* GENDER INPUT */
.input-container .input-box-gender > div{
  display: flex;
  align-items: center;
  max-width: 400px;
}
.input-container .icon-option {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 7em;
  background-color: gray;
  margin-right: .2em;
}
.input-container .input-box-gender .or-box {
  border: 1px solid black;
  background-color: white;
  width: 1.2em;
  padding: 0 1.2%;
  position: absolute;
  top: 5em;
  left: 200px;
}

@media(max-width: 400px){
  .input-container .input-box-gender .or-box {
    left: 47%;
  }
}
.input-container .icon-option.selected {
  background-color: #14bdcc;
}

.input-container .icon-option div.icon-content{
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.input-container .icon-option span {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  margin-top: .4em;
}

/* AGE INPUT */
.input-container .input-box-age div{
  display: block
}
.input-container .input-box-age button{
  margin: .2em .3em;
}
.input-container .input-box-age button.selected{
  background-color: #1AECFF;
}
.input-container div {
  margin: .5em 0;
}

/* SECTOR ALL */
p.main-category::after{
  content: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=origami-registry);
  width: 20px;
  top: 6px;
  position: relative;
  display: inline-block;
}
p.main-category.expanded::after{
  content: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-up?source=origami-registry);
  width: 20px;
  top: 6px;
  display: inline-block;
  position: relative;
}


.input-box-sector .input-sector-group{
  cursor: pointer;
}

/* SECTOR INPUT MOBILE VIEW */
article.small.sector-choice .article-head,
article.small.sector-choice .article-body footer,
article.small.sector-choice .article-body .gap-calculator .output-container,
article.small.sector-choice .article-body .gap-calculator .input-container > div:not(.input-box-sector) {
  display:none;
}

/* when sector choice box is closed, hide its elements */
article.small div.sector-mobile-view .o-forms,
article.small div.sector-mobile-view .sector-back-button {
  display: none;
}

article.small div.sector-mobile-view .see-all-sectors-text::after{
  content: 'See job types'
}

/* when sector choice box is open show its elements */
article.small.sector-choice div.sector-mobile-view .o-forms,
article.small.sector-choice div.sector-mobile-view .sector-back-button {
  display: block;
}
article.small.sector-choice div.sector-mobile-view .see-all-sectors-text::after{
  content: 'Continue with pay gap calculator'
}
article.small .input-box-sector .sector-desktop-view{
  display: none;
}
article.small .input-box-sector .sector-mobile-view{
  display: block;
}
article.small .input-box-sector .sector-mobile-view .o-forms.hidden{
  display: none;
}
article.small .input-box-sector .sector-mobile-view label:nth-of-type(1){
  font-weight: 600;
}
article.small .input-box-sector .sector-mobile-view .sub-section-box{
  border-top: solid gray 0.8px;
}
article.small .input-box-sector .sector-mobile-view .sector-back-button{
  font-family: MetricWeb, sans-serif;
  color: #00757f;
  font-weight: 500;
  font-size: 16px;
}

/* SECTOR INPUT DESKTOP */
article .input-box-sector .sector-desktop-view{
  display: block;
}
article .input-box-sector .sector-mobile-view{
  display: none;
}
.input-container div.input-sector-list p{
  font-family: MetricWeb,sans-serif;
  padding: .2em 0;
}

.sector-desktop-view .toggle-more-sectors-text::after{
  content:'See more job types';
}
.sector-desktop-view.expanded .toggle-more-sectors-text::after{
  content:'See fewer job types';
}

/* SALARY INPUT */
div.input-salary-time-period div{
  display: inline-block;
  margin: 0 .5em;
}
div.input-salary-time-period p{
  display: inline-block;
  margin: 0;
}
.input-salary-container{
  position: relative;
  max-width: 380px;
}
.input-salary-container span{
  position: absolute;
  font-style: italic;
  color: gray;
  top: 21px;
  right: 20px;
}
.input-container button.input-salary-time.selected{
  background-color: #1AECFF;
}

/* OUTPUT BOX */
.output-container span[class^='output']{
  background-color: red;
  color: white;
}
