html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background-color: #fff1e5;
  font-family: MetricWeb, sans-serif;
  margin:0;
  padding:0;
}

main {
  display:block
}

.enhanced .browser-not-supported {
  display: none;
}

.core .gap-calculator {
  display: none;
}

.gap-calculator {
  display: none;
}

.calculator-ready .gap-calculator {
  display: block;
}

.calculator-ready .loading-indicator {
  display: none;
}

.core .o--if-js,
.enhanced .o--if-no-js,
.is-next .hide-next,
.is-falcon .hide-falcon,
.is-loggedin .hide-loggedin,
.is-anonymous .hide-anonymous {
  display: none !important;
}

.show-loggedin,
.show-anonymous,
.show-next,
.show-falcon,
.hide-falcon,
.hide-next,
.hide-loggedin,
.hide-anonymous {
  display: none;
}

.is-loggedin .show-loggedin,
.is-anonymous .show-anonymous,
.is-next .show-next,
.is-falcon .show-falcon,
.is-falcon .hide-next,
.is-next .hide-falcon {
  display: inherit;
}

/* CUSTOM CALCULATOR STYLES */
hr{
  background-color: #E5D8CE; height: 1px; border: 0;
}

label {
  font-weight: 400;
  font-size: 1.4em;
  display: block;
  margin: 0.3em 0;
  color:#33302E;
}
.hidden {
  display: none;
}

/* FEEDBACK BOXES */
.input-container .input-feedback,
.input-container .data-error-feedback {
  padding: .1em 1.5em .2em 1.5em;
  max-width: 380px;
}
.input-container .input-feedback {
  border-top: 2px solid #14bdcc;
  background-color: #fff;
}
.input-container .input-feedback p,
.input-container .data-error-feedback p {
 font: normal 1em/1.2em MetricWeb,sans-serif;
 color: #66605C;
}

article .selection-made .input-feedback{
  display: block;
}
.input-feedback{
  display: none;
}
.input-feedback span:not(.gender-choice-inverse) {
  font-weight: 600;
  font-size: 1.1em;
  color: black;
}
.input-feedback.sector-selected{
  background-color: #8bd7da;
  border-top: 2px solid #8bd7da;
}
.input-feedback.sector-selected p{
  padding: 0;
}

/* DATA ERROR HANDLING */
.input-container .data-error-feedback {
  border-top: 5px solid #CC0000;
  background-color: #fff;
}
article .data-error-feedback {
  display: none;
}

article.insufficient-data .data-error-feedback{
  display: block;
}

article.insufficient-data div.selection-made.input-box-sector .input-feedback{
  display: none;
}
article.insufficient-data .input-salary{
  background-color: #CCC1B7;
}
article.insufficient-data .input-compute{
  disabled: true;
}

/* INPUT ERROR HANDLING - DISABLE CALCULATION UNLESS ALL INPUTS ARE FILLED IN */
article.inputs-incomplete button.input-compute {
  disabled: true;
}

/* ALL INPUT BOXES */
.input-container div[class^='input-box']{
  width: 100%;
}

/* WIDE BUTTONS */
@media(max-width:400px){
  .input-compute, .see-more, .see-all {
    width: 100%;
  }
}

/* GENDER INPUT */
.input-container .input-box-gender > div{
  display: flex;
  align-items: center;
  max-width: 400px;

}

.input-container .input-box-gender > hr {
  background-color: #66605C; height: 1px; border: 0;
}

.input-container .icon-option {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 7em;
  background-color: #F2E4DA;
}
.input-container .input-box-gender .or-box {
  background-color: white;
  font-size: .9em;
  line-height: 22px;
  border-radius: 3px;
  width: 1.2em;
  padding: 0 1.2%;
  position: absolute;
  top: 7em;
  left: 200px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}

@media(max-width: 400px){
  .input-container .input-box-gender .or-box {
    left: 47%;
  }
}
.input-container .icon-option.selected {
  background-color: #14bdcc;
}
.input-container .icon-option.selected span {
  color:white;
}

.input-container .icon-option.selected #Layer_1 path {
   fill:white;
}

.input-container .icon-option #Layer_1 path {
   fill:#CCC1B7;
}

.input-container .icon-option div.icon-content{
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.input-container .icon-option span {
  text-transform: uppercase;
  color: #8F857E;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: .4em;
}

/* AGE INPUT */
.input-container .input-box-age button{
  margin: .2em .3em;
}

.input-container .input-box-age button:hover{
  background-color: #0d7680;
}
.input-container .input-box-age button.selected{
  background-color: #14bdcc;
  color:#08474d;
  border-color: #14bdcc;
}
.input-container div {
 margin: 0.8em 0;
}

/* SECTOR ALL */
.input-box-sector .input-sector-group{
  cursor: pointer;
}
article .input-box-sector .sector-desktop-view label,
article .input-box-sector .sector-mobile-view label {
  display: block;
  font-size: 1.0em;
  line-height: 1.1em;
}


/* SECTOR INPUT MOBILE VIEW */
article.small.sector-choice .article-head,
article.small.sector-choice .article-body footer,
article.small.sector-choice .article-body .gap-calculator .output-container,
article.small.sector-choice .article-body .gap-calculator .input-container > div:not(.input-box-sector),
article.small.sector-choice .article-body .gap-calculator .input-container .input-feedback,
article.small.sector-choice .article-body .gap-calculator .input-container .data-error-feedback {
  display:none;
}

/* when sector choice box is closed, hide its elements */
article.small div.sector-mobile-view .o-forms,
article.small div.sector-mobile-view .sector-back-button {
  display: none;
}

article.small div.sector-mobile-view .see-all-sectors-text::after{
  content: 'See job types'
}

/* when sector choice box is open show its elements */
article.small.sector-choice div.sector-mobile-view .o-forms,
article.small.sector-choice div.sector-mobile-view .sector-back-button {
  display: block;
}
article.small.sector-choice div.sector-mobile-view .see-all-sectors-text::after{
  content: 'Continue with pay gap calculator'
}
article.small .input-box-sector .sector-desktop-view{
  display: none;
}
article.small .input-box-sector .sector-mobile-view{
  display: block;
}
article.small .input-box-sector .sector-mobile-view .o-forms.hidden{
  display: none;
}
article.small .input-box-sector .sector-mobile-view .sub-section-box{
  border-top: solid gray 0.8px;
}
article.small .input-box-sector .sector-mobile-view .sector-back-button{
  font-family: MetricWeb, sans-serif;
  color: #00757f;
  font-weight: 500;
  font-size: 16px;
}

/* SECTOR INPUT DESKTOP */
article .input-box-sector .sector-desktop-view{
  display: block;
}
article .input-box-sector .sector-mobile-view{
  display: none;
}
.input-container div.input-sector-list p{
  font-family: MetricWeb,sans-serif;
  padding: .2em 0;
}

.sector-desktop-view .toggle-more-sectors-text::after{
  content:'See more job types';
}
.sector-desktop-view.expanded .toggle-more-sectors-text::after{
  content:'See fewer job types';
}

p.main-category::after{
  content: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=origami-registry);
  width: 20px;
  top: 6px;
  position: relative;
  display: inline-block;
}
p.main-category.expanded::after{
  content: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-up?source=origami-registry);
  width: 20px;
  top: 6px;
  display: inline-block;
  position: relative;
}
article .input-box-sector .sector-desktop-view p.main-category{
  font-family: MetricWeb, sans-serif;
  color: #0d7680;
  font-weight: 500;
}


/* SALARY INPUT */
div.input-salary-time-period div{
  display: inline-block;
  margin: 0 .5em;
}
div.input-salary-time-period p{
  display: inline-block;
  margin: 0;
}
.input-salary-container{
  position: relative;
  max-width: 380px;
}
.input-salary-container input{
  autofocus: false;
  padding-left: 17px;
}
.input-salary-container span{
  position: absolute;
  font-style: italic;
  color: gray;
}
.input-salary-container span.before-tax{
  top: 22px;
  right: 10px;
}
.input-salary-container span.currency{
  top: 22px;
  left: 8px;
}
.input-container button.input-salary-time.selected{
  background-color: #14bdcc;
  border-color: #14bdcc;
  color:#08474d;
}

/* OUTPUT BOX */
article.computed .output-container{
  display: block;
}
.output-container {
  display: none;
}

article.computed .output-container span[class^='output']{
  font-family: MetricWeb, sans-serif;
  display: block;
  font-size: 45px;
  font-weight: 500;
}
article.computed .output-container {
  background-color: #9fe0d9;
  padding: 1.5em 1em;
}
article.computed .output-container p{
  text-align: left;
}
article.computed .down-triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff1e5;
  position: relative;
  top: -1.5em;
  left: 10%;
}

@media(max-width: 400px){
  article.computed .down-triangle {
    left: 46%;
  }
  article.computed .output-container p{
    text-align: center;
  }
}
