$exclamation-symbol-url: 'https://www.ft.com/__origami/service/image/v2/images/raw/fticon:warning?width=40&format=png&source=o-icons&tint=ffffff';

/* IF USER INPUTS ARE INCOMPLETE, GIVE VALIDATION ERRORS ON REVEAL PAY GAP BUTTON */
article.no-age,
article.no-salary,
article.no-sector {
  button.input-compute,
  button.input-compute:active,
  button.input-compute:hover {
    background-color: oColorsGetPaletteColor('claret-100');
    border-color: oColorsGetPaletteColor('claret-100');
    min-width: 200px;
    color: #fff;
    background-repeat: no-repeat;
  }
}

/* IF USER INPUTS ARE INCOMPLETE, GIVE VALIDATION ERRORS ON SECTOR BUTTON */
/* desktop version */
article.no-age,
article.no-sector {
  button.see-more,
  button.see-more:hover {
    color: #fff;
    background-color: oColorsGetPaletteColor('claret-100');
    border-color: oColorsGetPaletteColor('claret-100');
    min-width: 200px;
    background-repeat: no-repeat;
  }
}

/* mobile version */
article.no-age,
article.no-sector {
  button.see-all,
  button.see-all:hover{
    color: #fff;
    background-color: #FF1A66;
    border-color: oColorsGetPaletteColor('claret-100');
    min-width: 200px;
    background-repeat: no-repeat;
  }
}

/* SHOW AGE ERROR MESSAGE WHEN AGE IS NOT PRESENT */
article.no-age {
  .input-box-age {
    .input-age {
      border-color: #FF1A66;
    }
  }
}

  .o-buttons-icon.o-buttons-icon--warning {
    background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:warning?source=o-icons&tint=FFFFFF,FFFFFF&format=svg")!important;
    background-position: 5%;
}

article.no-age {
  .input-box-age {
    div.no-age-error {
      display: block;
      margin-top: 4px;
      position: relative;
      padding-left: 2.3em;
      span::before {
        content:'';
        position: absolute;
        background-image: url($exclamation-symbol-url-pink);
        left: 5px;
        top: -3px;
        width: 100%;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% left;
        background-color: transparent;
      }
    }
  }
}
